.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-light{
  margin-left: 58rem;
}
.card_{
  margin-top: 8rem;
}
.login{
  margin-top: 1rem;
  text-decoration: none;
}
.checkout{
  margin-top: 40%;
}
.home{
  margin-top: 25%;
}
.card{
  margin-top: 18%;
  background-color: antiquewhite;
}
.Food{
  color: white;
}
.butt{
  margin-top: 18%;
}